
/* ================ RESPONSIVE FOR DEVICES ================*/

/* For mobile phones. */
@media (max-width: 46.1875em){
  html {
    font-size: 85%;
  }
  .grid-fill {
    display: block;
  }
  img {
    max-width: 100%;
  }
  #header {
    overflow: hidden;
  }
  #nav li {
    display: block;
  }

  #nav {
    display: block;
  }
  #nav .subnav {
    position: initial;
  }
  #nav .subnav a {
    padding: 8px 32px;
  }
  .w50 {
    width: 100%;
  }
  .icons {
    display: block;
    padding-bottom: 8px;
    font-size: 24px;
  }
  .contact-container {
    display: block;
    text-align: center;
  }
  .contact-labels {
    margin-bottom: 24px;
  }
  .contact-label {
    padding-bottom: 16px;
  }
  .mb-32 {
    margin-bottom: 32px;
  }
  .btn-buy {
    width: 100%;
  }
  .header-search {
    display: none;
  }
    .menu-bar:hover {
      background: rgba(0, 0, 0, .4);
      cursor: pointer;
    }
    .ico-menu-bar {
      color: var(--white);
    }

  .grid-fill {
    padding-top: 32px;
  }
  .ifr-map {
    height: 400px;
  }
  /* modal tickets */
  .modal-header {
    height: 80px;
  }
  .mr-0 {
    margin-right: 0;
  }
}

/* For desktop devices */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .menu-bar {
    display: none;
  }
  .member-pic {
    height: 100%;
  }
}

@media (min-width: 64em) {
  .button {
    padding: 16px !important;
  }
  .menu-bar {
    display: none;
  }
  img {
    height: 80%;
  }
}