:root {
  --black: rgb(0,0,0);
  --red: rgb(185, 33, 32);
  --lred: rgb(221, 73, 73);
  --vlred: rgba(245, 212, 212, 1);
  --drred: darken(var(--red), 7%);
  --white: #fff;
  --shadow: 0 10px 8px 0 rgba(0 0 0 / 20%), 0 10px 10px 0 rgba(0 0 0 /19%);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

ul, li, a {
  list-style-type: none;
}
a {
  text-decoration: none;
}

nav {
  display: block;
}

.right {
  float: right;
  margin-left: 1rem;
}

.menu-wrapper {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  background: var(--black);
}
  .menu-wrapper .menu {
    margin: 0;
    padding-left: 0;
  }
  .menu > li {
    position: relative;
    padding: 12px 24px;
    display: inline-block;
  }
  .menu li a {
    color: var(--white);
  }
  a.menu-link {
    display: none;
    padding: 12px 24px;
  }
  a {
    display: block;
    position: relative;
    /* padding: 8px 16px; */
    line-height: 1.2em;
  }

  .menu li:hover{
    cursor: pointer;
    transition: all 0.2s;
    background: var(--vlred);
  }

  /* submenu */
  ul.sub-menu {
    padding: 0;
    margin: 0;
  }
  .sub-menu {
    position: absolute;
    overflow: hidden;
    background: var(--white);
    box-shadow: var(--shadow);
    left: 0;
    top: 43.2px;
    max-height: 0;
  }
  .sub-menu li {
    padding: 8px 16px;
    min-width: 120px;
  }
  .sub-menu li a {
    text-transform: capitalize;
    color: var(--black);
    border: none;
  }
  /* 2nd level */
  li:hover .sub-menu {
    max-height: 160px;
  }