:root {
  --black: rgb(106, 3, 3);
  --red: rgb(185, 33, 32);
  --lred: rgb(221, 73, 73);
  --lgrey: rgb(223, 223, 223);
  --white: #fff;
  --shadow-light: 0 2px 5px 0 rgba(0 0 0 / 20%);
  --shadow: 0 5px 8px 0 rgba(0 0 0 / 20%), 0 5px 5px 0 rgba(0 0 0 /19%);
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}
h1,h2,h3,h4,h5, p {
  display: block;
}

ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}


/* ================ LAYTOUT ================*/

.main {
  position: relative;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  box-shadow: var(--shadow-light);
  z-index: 1;
}
#header > ul {
  display: flex;
}

/* ================ SECTION NAV ================*/
#nav {
  display: inline-block;
}
#nav > li {
  display: inline-block;
}
#nav li {
    position: relative;
  }
  #nav > li:hover > a,
  .subnav li:hover{
    color: var(--black);
    background-color: var(--lgrey);
    transition: all 0.3s;
  }
  #nav li > a {
    padding: 0 24px;
    line-height: 46px;
    display: block;
  }
  #nav > li > a {
    color: var(--white);
    text-transform: uppercase;
  }

    /* subnav */
    .subnav {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      min-width: 160px;
      overflow: hidden;
    }
    #nav .subnav a {
      border: none;
      color: var(--black);
      padding: 0 16px;
      line-height: 38px;
    }
    li:hover .subnav {
      display: block;
      background-color: var(--white);
      box-shadow: var(--shadow);
    }
    /* search icon */
    .btn-search {
      float: right;
      color: var(--white);
      font-size: 18px;
    }
    .btn-right {
      padding: 0 24px;
      line-height: 46px;

    }
    .btn-right:hover {
      color: var(--white);
      cursor: pointer;
      background-color: var(--lred);
      transition: all 0.3s;
    }

/* ================ SECTION SLIDES ================*/

#slider {
  margin-top: 46px;
  overflow: hidden;
  display: flex;
}
.slide {
  padding-top: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide1, .slide2, .slide3 {
  display: flex;
  flex-direction: row;
  width: 300%;
  height: 700px;
  justify-content: center;
}
.slide1 {
  background-image: url(./img/img-1.avif);
}
.slide2 {
  background-image: url(./img/img-2.avif);
}
.slide3 {
  background-image: url(./img/img-3.avif);
}
.slide-show {
  /* padding: 32px 16px; */
}
.slide-title,
.slide-desc {
  color: var(--white);
  text-align: center;
}
.slide-title {
  font-size: 1.6rem;
  margin: 10px 0;
}
.slide-desc {
  font-size: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


/* ================ SECTION ABOUT ================*/
#about {

}

/* ================ SECTION TOUR ================*/
#tour {

}

/* ================ SECTION CONTACT ================*/
#contact {

}

/* ================ SECTION FOOTER ================*/
#footer {

}
